$breakpoint: 50em;
$containerMaxWidth: 42rem;

.app-positioner {
  height: 100%;
  display: flex;
}

.container {
  padding: 0.5rem;

  @media (min-width: $breakpoint) {
    align-self: center;
    max-width: $containerMaxWidth;
    margin: 0 auto;
  }
}

.header {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 3px #00000005;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint) {
    max-width: $containerMaxWidth;
    margin: 0 auto;
  }
}

.logo {
  height: auto;
  width: 10rem;
}
